* {
	background-attachment: fixed;
	background-image: url(last%20round%20fighter.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
#wrapper {
	margin: auto;
	padding: 0px;
	height: 1160px;
	width: 960px;
}
#header {
}
#navibar {
}
#content {
}
#footer {
}
